<?xml version="1.0" encoding="utf-8"?>
<web-app
	version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>me.lazerka.worktimer.gae.ServletContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>GuiceFilter</filter-name>
		<filter-class>me.lazerka.worktimer.gae.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GuiceFilter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>

	<!-- Needed for Dev mode UploadBlobServlet which forwards to a servlet handled by Guice. -->
	<filter-mapping>
		<filter-name>GuiceFilter</filter-name>
		<url-pattern>*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<!-- Admin-only -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All</web-resource-name>
			<url-pattern>*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

</web-app>
